<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometrysz.a.level01b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Press Start&quot; in Normal mode</string>
		<key>identifier</key>
		<string>geometry.ach.level01b</string>
		<key>order</key>
		<integer>200</integer>
		<key>title</key>
		<string>Press Start!</string>
		<key>icon</key>
		<string>icon_143</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Press Start&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQAg</string>
		<key>limits</key>
		<integer>1</integer>
	</dict>
	<key>geometrysz.a.level01a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Press Start&quot; in Practice mode</string>
		<key>identifier</key>
		<string>geometry.ach.level01a</string>
		<key>order</key>
		<integer>100</integer>
		<key>title</key>
		<string>Press Start</string>
		<key>icon</key>
		<string>icon_144</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Press Start&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQAQ</string>
		<key>limits</key>
		<integer>1</integer>
	</dict>
	<key>geometrysz.a.level02b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Nock Em&quot; in Normal mode</string>
		<key>identifier</key>
		<string>geometry.ach.level02b</string>
		<key>order</key>
		<integer>400</integer>
		<key>title</key>
		<string>Nock Em!</string>
		<key>icon</key>
		<string>icon_145</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Nock Em&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBA</string>
		<key>limits</key>
		<integer>1</integer>
	</dict>
	<key>geometrysz.a.level02a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Nock Em&quot; in Practice mode</string>
		<key>identifier</key>
		<string>geometry.ach.level02a</string>
		<key>order</key>
		<integer>300</integer>
		<key>title</key>
		<string>Nock Em</string>
		<key>icon</key>
		<string>icon_146</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Nock Em&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQAw</string>
		<key>limits</key>
		<integer>1</integer>
	</dict>
	<key>geometrysz.a.level03b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Power Trip&quot; in Normal mode</string>
		<key>identifier</key>
		<string>geometry.ach.level03b</string>
		<key>order</key>
		<integer>600</integer>
		<key>title</key>
		<string>Power Trip!</string>
		<key>icon</key>
		<string>icon_147</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Power Trip&quot; in Normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBg</string>
		<key>limits</key>
		<integer>1</integer>
	</dict>
	<key>geometrysz.a.level03a</key>
	<dict>
		<key>achievedDescription</key>
		<string>Completed &quot;Polargeist&quot; in Practice mode</string>
		<key>identifier</key>
		<string>geometry.ach.level03a</string>
		<key>order</key>
		<integer>500</integer>
		<key>title</key>
		<string>Power Trip</string>
		<key>icon</key>
		<string>icon_148</string>
		<key>unachievedDescription</key>
		<string>Complete &quot;Polargeist&quot; in Practice mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQBQ</string>
		<key>limits</key>
		<integer>1</integer>
	</dict>
	<key>geometry.ach.jump01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 1000 times</string>
		<key>identifier</key>
		<string>geometry.ach.jump01</string>
		<key>order</key>
		<integer>13500</integer>
		<key>title</key>
		<string>Bounce</string>
		<key>icon</key>
		<string>color2_05</string>
		<key>unachievedDescription</key>
		<string>Jump 1000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFA</string>
	</dict>
	<key>geometry.ach.jump02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 10000 times</string>
		<key>identifier</key>
		<string>geometry.ach.jump02</string>
		<key>order</key>
		<integer>13600</integer>
		<key>title</key>
		<string>I like jumping</string>
		<key>icon</key>
		<string>color2_11</string>
		<key>unachievedDescription</key>
		<string>Jump 10000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFg</string>
	</dict>
	<key>geometry.ach.jump03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 20000 times</string>
		<key>identifier</key>
		<string>geometry.ach.jump03</string>
		<key>order</key>
		<integer>13700</integer>
		<key>title</key>
		<string>You jump like a pro!</string>
		<key>icon</key>
		<string>color2_12</string>
		<key>unachievedDescription</key>
		<string>Jump 20000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFQ</string>
	</dict>
	<key>geometry.ach.jump04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 50000 times</string>
		<key>identifier</key>
		<string>geometry.ach.jump04</string>
		<key>order</key>
		<integer>13800</integer>
		<key>title</key>
		<string>Hop Hop Hop</string>
		<key>icon</key>
		<string>bird_05</string>
		<key>unachievedDescription</key>
		<string>Jump 50000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQWA</string>
	</dict>
	<key>geometry.ach.jump05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Jumped 100000 times</string>
		<key>identifier</key>
		<string>geometry.ach.jump05</string>
		<key>order</key>
		<integer>13900</integer>
		<key>title</key>
		<string>Can&apos;t stop jumping!!!</string>
		<key>icon</key>
		<string>ball_13</string>
		<key>unachievedDescription</key>
		<string>Jump 50000 times</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQoAE</string>
	</dict>
	<key>geometry.ach.attempt01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 100 attempts</string>
		<key>identifier</key>
		<string>geometry.ach.attempt01</string>
		<key>order</key>
		<integer>14000</integer>
		<key>title</key>
		<string>Trial and error</string>
		<key>icon</key>
		<string>color2_06</string>
		<key>unachievedDescription</key>
		<string>Do 100 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQFw</string>
	</dict>
	<key>geometry.ach.attempt02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 500 attempts</string>
		<key>identifier</key>
		<string>geometry.ach.attempt02</string>
		<key>order</key>
		<integer>14100</integer>
		<key>title</key>
		<string>Crash Tester</string>
		<key>icon</key>
		<string>color2_07</string>
		<key>unachievedDescription</key>
		<string>Do 500 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQGA</string>
	</dict>
	<key>geometry.ach.attempt03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 2000 attempts</string>
		<key>identifier</key>
		<string>geometry.ach.attempt03</string>
		<key>order</key>
		<integer>14200</integer>
		<key>title</key>
		<string>You Shall Not Pass!</string>
		<key>icon</key>
		<string>color2_14</string>
		<key>unachievedDescription</key>
		<string>Do 2000 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQNw</string>
	</dict>
	<key>geometry.ach.attempt04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 10000 attempts</string>
		<key>identifier</key>
		<string>geometry.ach.attempt04</string>
		<key>order</key>
		<integer>14300</integer>
		<key>title</key>
		<string>Ouch...</string>
		<key>icon</key>
		<string>color2_17</string>
		<key>unachievedDescription</key>
		<string>Do 10000 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQWQ</string>
	</dict>
	<key>geometry.ach.attempt05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Did 20000 attempts</string>
		<key>identifier</key>
		<string>geometry.ach.attempt05</string>
		<key>order</key>
		<integer>14400</integer>
		<key>title</key>
		<string>That hurts!</string>
		<key>icon</key>
		<string>dart_03</string>
		<key>unachievedDescription</key>
		<string>Do 20000 attempts</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQoQE</string>
	</dict>
	<key>geometry.ach.moreGames</key>
	<dict>
		<key>achievedDescription</key>
		<string>Looked at more RobTop Games</string>
		<key>identifier</key>
		<string>geometry.ach.moreGames</string>
		<key>order</key>
		<integer>16400</integer>
		<key>title</key>
		<string>RobTop Gamer</string>
		<key>icon</key>
		<string>color2_04</string>
		<key>unachievedDescription</key>
		<string>Tap the More Games button!</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQGw</string>
	</dict>
	<key>geometry.ach.facebook</key>
	<dict>
		<key>achievedDescription</key>
		<string>Liked Geometry Dash on Facebook</string>
		<key>identifier</key>
		<string>geometry.ach.facebook</string>
		<key>order</key>
		<integer>16500</integer>
		<key>title</key>
		<string>Number one fan!</string>
		<key>icon</key>
		<string>color2_13</string>
		<key>unachievedDescription</key>
		<string>Like Geometry Dash on Facebook</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQLA</string>
	</dict>
	<key>geometry.ach.youtube</key>
	<dict>
		<key>achievedDescription</key>
		<string>Subscribed to RobTop Games on YouTube</string>
		<key>identifier</key>
		<string>geometry.ach.youtube</string>
		<key>order</key>
		<integer>16600</integer>
		<key>title</key>
		<string>GeometryTube</string>
		<key>icon</key>
		<string>color2_20</string>
		<key>unachievedDescription</key>
		<string>Subscribe to RobTop Games on YouTube</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQdg</string>
	</dict>
	<key>geometry.ach.twitter</key>
	<dict>
		<key>achievedDescription</key>
		<string>Followed RobTop Games on Twitter</string>
		<key>googleID</key>
		<string></string>
		<key>icon</key>
		<string>color2_31</string>
		<key>identifier</key>
		<string>geometry.ach.twitter</string>
		<key>order</key>
		<integer>16601</integer>
		<key>title</key>
		<string>Geometry Bird!</string>
		<key>unachievedDescription</key>
		<string>Follow RobTop Games on Twitter</string>
	</dict>
	<key>geometry.ach.special01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Crashed at over 95%</string>
		<key>identifier</key>
		<string>geometry.ach.special01</string>
		<key>order</key>
		<integer>16700</integer>
		<key>title</key>
		<string>So close</string>
		<key>icon</key>
		<string>color2_18</string>
		<key>unachievedDescription</key>
		<string>Crash at over 95% on a main level in normal mode</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQYg</string>
	</dict>
	<key>geometry.ach.secret01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed a player</string>
		<key>identifier</key>
		<string>geometry.ach.secret01</string>
		<key>order</key>
		<integer>16800</integer>
		<key>title</key>
		<string>Rampage!</string>
		<key>icon</key>
		<string>color2_19</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQYw</string>
	</dict>
	<key>geometry.ach.secret02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed 50 players</string>
		<key>identifier</key>
		<string>geometry.ach.secret02</string>
		<key>order</key>
		<integer>16900</integer>
		<key>title</key>
		<string>Dominating!</string>
		<key>icon</key>
		<string>icon_41</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQZA</string>
	</dict>
	<key>geometry.ach.secret02b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed 100 players</string>
		<key>identifier</key>
		<string>geometry.ach.secret02b</string>
		<key>order</key>
		<integer>17000</integer>
		<key>title</key>
		<string>Ultrakill!</string>
		<key>icon</key>
		<string>color2_27</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQqwE</string>
	</dict>
	<key>geometry.ach.secret03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed 200 players</string>
		<key>identifier</key>
		<string>geometry.ach.secret03</string>
		<key>order</key>
		<integer>17100</integer>
		<key>title</key>
		<string>Godlike!</string>
		<key>icon</key>
		<string>icon_39</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQZQ</string>
	</dict>
	<key>geometry.ach.secret03b</key>
	<dict>
		<key>achievedDescription</key>
		<string>Destroyed 500 players</string>
		<key>identifier</key>
		<string>geometry.ach.secret03b</string>
		<key>order</key>
		<integer>17200</integer>
		<key>title</key>
		<string>Wickedsick!</string>
		<key>icon</key>
		<string>ball_12</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQrAE</string>
	</dict>
	<key>geometry.ach.secret04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the hidden coin</string>
		<key>identifier</key>
		<string>geometry.ach.secret04</string>
		<key>order</key>
		<integer>17300</integer>
		<key>title</key>
		<string>Master Detective</string>
		<key>icon</key>
		<string>color2_21</string>
		<key>unachievedDescription</key>
		<string>A hidden treasure is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQdw</string>
	</dict>
	<key>geometry.ach.secret05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret05</string>
		<key>order</key>
		<integer>17400</integer>
		<key>title</key>
		<string>Oh no...</string>
		<key>icon</key>
		<string>icon_62</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQrQE</string>
	</dict>
	<key>geometry.ach.secret06</key>
	<dict>
		<key>achievedDescription</key>
		<string>Stole the Vault Keepers coin</string>
		<key>identifier</key>
		<string>geometry.ach.secret06</string>
		<key>order</key>
		<integer>17500</integer>
		<key>title</key>
		<string>Thief!</string>
		<key>icon</key>
		<string></string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQrgE</string>
	</dict>
	<key>geometry.ach.secret07</key>
	<dict>
		<key>achievedDescription</key>
		<string>Stole the Vault Keepers icon</string>
		<key>identifier</key>
		<string>geometry.ach.secret07</string>
		<key>order</key>
		<integer>17600</integer>
		<key>title</key>
		<string>Thief! Thief!</string>
		<key>icon</key>
		<string>icon_51</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQrwE</string>
	</dict>
	<key>geometry.ach.secret08</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret08</string>
		<key>order</key>
		<integer>17700</integer>
		<key>title</key>
		<string>Decrypter</string>
		<key>icon</key>
		<string>bird_11</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQsAE</string>
	</dict>
	<key>geometry.ach.secret09</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret09</string>
		<key>order</key>
		<integer>17800</integer>
		<key>title</key>
		<string>The Unknown</string>
		<key>icon</key>
		<string>robot_02</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQsQE</string>
	</dict>
	<key>geometry.ach.secret10</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret10</string>
		<key>order</key>
		<integer>17900</integer>
		<key>title</key>
		<string>The Unseen</string>
		<key>icon</key>
		<string>dart_08</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQsgE</string>
	</dict>
	<key>geometry.ach.secret11</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret11</string>
		<key>order</key>
		<integer>18000</integer>
		<key>title</key>
		<string>Catch them all!</string>
		<key>icon</key>
		<string>icon_55</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQswE</string>
	</dict>
	<key>geometry.ach.secret12</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret12</string>
		<key>order</key>
		<integer>18100</integer>
		<key>title</key>
		<string>Nice shot!</string>
		<key>icon</key>
		<string>icon_50</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQtAE</string>
	</dict>
	<key>geometry.ach.secret13</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret13</string>
		<key>order</key>
		<integer>18200</integer>
		<key>title</key>
		<string>Revealing...</string>
		<key>icon</key>
		<string>ship_20</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQtQE</string>
	</dict>
	<key>geometry.ach.secret14</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret14</string>
		<key>order</key>
		<integer>18300</integer>
		<key>title</key>
		<string>Third eye open...</string>
		<key>icon</key>
		<string>bird_12</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQtgE</string>
	</dict>
	<key>geometry.ach.secret15</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret15</string>
		<key>order</key>
		<integer>18400</integer>
		<key>title</key>
		<string>Very clever...</string>
		<key>icon</key>
		<string>special_04</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQtwE</string>
	</dict>
	<key>geometry.ach.secret16</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret16</string>
		<key>order</key>
		<integer>18450</integer>
		<key>title</key>
		<string>Doomed us all!</string>
		<key>icon</key>
		<string>dart_13</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQuAE</string>
	</dict>
	<key>geometry.ach.secret17</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.secret17</string>
		<key>order</key>
		<integer>18451</integer>
		<key>title</key>
		<string>Nothing is hidden</string>
		<key>icon</key>
		<string>icon_64</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string>CgkIm5vi-_cMEAIQuQE</string>
	</dict>
	<key>geometry.ach.v2.secret01</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret01</string>
		<key>order</key>
		<integer>18452</integer>
		<key>title</key>
		<string>Ultimate Energy</string>
		<key>icon</key>
		<string>icon_80</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret02</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret02</string>
		<key>order</key>
		<integer>18453</integer>
		<key>title</key>
		<string>Uber Hacker</string>
		<key>icon</key>
		<string>icon_78</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret03</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret03</string>
		<key>order</key>
		<integer>18454</integer>
		<key>title</key>
		<string>Cold as Ice</string>
		<key>icon</key>
		<string></string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret04</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret04</string>
		<key>order</key>
		<integer>18455</integer>
		<key>title</key>
		<string>Sneaky Sneak</string>
		<key>icon</key>
		<string>icon_81</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret05</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret05</string>
		<key>order</key>
		<integer>18456</integer>
		<key>title</key>
		<string>I can count!</string>
		<key>icon</key>
		<string>icon_76</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret06</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret06</string>
		<key>order</key>
		<integer>18457</integer>
		<key>title</key>
		<string>Cant be fooled</string>
		<key>icon</key>
		<string>icon_108</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret07</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret07</string>
		<key>order</key>
		<integer>18458</integer>
		<key>title</key>
		<string>Paintbucket</string>
		<key>icon</key>
		<string>color_37</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v2.secret08</key>
	<dict>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v2.secret08</string>
		<key>order</key>
		<integer>18459</integer>
		<key>title</key>
		<string>Burnt Chicken</string>
		<key>icon</key>
		<string>color2_33</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v3.secret01</key>
	<dict>
		<key>limits</key>
		<integer>1</integer>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v3.secret01</string>
		<key>order</key>
		<integer>18460</integer>
		<key>title</key>
		<string>Gatekeepers Riddle</string>
		<key>icon</key>
		<string>icon_91</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v3.secret02</key>
	<dict>
		<key>limits</key>
		<integer>1</integer>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v3.secret02</string>
		<key>order</key>
		<integer>18461</integer>
		<key>title</key>
		<string>Gatekeepers Query</string>
		<key>icon</key>
		<string>icon_89</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v3.secret03</key>
	<dict>
		<key>limits</key>
		<integer>1</integer>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v3.secret03</string>
		<key>order</key>
		<integer>18462</integer>
		<key>title</key>
		<string>Gatekeepers Code</string>
		<key>icon</key>
		<string>color2_38</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v3.secret04</key>
	<dict>
		<key>limits</key>
		<integer>1</integer>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v3.secret04</string>
		<key>order</key>
		<integer>18463</integer>
		<key>title</key>
		<string>Gatekeepers Curse</string>
		<key>icon</key>
		<string>icon_90</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
	<key>geometry.ach.v3.secret05</key>
	<dict>
		<key>limits</key>
		<integer>1</integer>
		<key>achievedDescription</key>
		<string>Found the secret</string>
		<key>identifier</key>
		<string>geometry.ach.v3.secret05</string>
		<key>order</key>
		<integer>18464</integer>
		<key>title</key>
		<string>Gatekeepers Vision</string>
		<key>icon</key>
		<string>dart_23</string>
		<key>unachievedDescription</key>
		<string>A secret is required</string>
		<key>googleID</key>
		<string></string>
	</dict>
</dict>
</plist>
